@page
@model Mokyklu_IS.Pages.Tevai.PazymiaiModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Vaiko pažymiai</h3>
        <table id="customers">
            <tr>
                <th style="width:5%">Pažymys</th>
                <th style="width:40%">Priežastis</th>
                <th style="width:40%">Komentaras</th>
                <th style="width:15%">Mokytojas</th>
            </tr>
            @foreach (var item in Model.Ats)
            {
                <tr>
                    <td style="width:5%">@Html.DisplayFor(m => item.Ivertis)</td>
                    <td style="width:40%">@Html.DisplayFor(m => item.Priezastis)</td>
                    <td style="width:40%">@Html.DisplayFor(m => item.Komentaras)</td>
                    <td style="width:15%">@Html.DisplayFor(m => item.MPavarde) @Html.DisplayFor(m => item.MVardas)</td>
                </tr>
            }
        </table>
    </div>
</div>
