@page
@model Mokyklu_IS.Pages.Tevai.VaikasModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">@Model.Mokinys.Vardas  @Model.Mokinys.Pavarde</h3>
        <div class="container">
            <a asp-page="/Tevai/Pastabos" asp-route-ID="@Model.Mokinys.Asmens_kodas" class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width:80%">Pastabos</a>
        </div>
        <div class="container">
            <a asp-page="/Tevai/Pazymiai" asp-route-ID="@Model.Mokinys.Asmens_kodas" class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width:80%">Pažymiai</a>
        </div>
        <div class="container">
            <a asp-page="/Tevai/Tvarkarastis" asp-route-ID="@Model.Mokinys.Asmens_kodas" class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width:80%">Tvarkaraštis</a>
        </div>
    </div>
</div>