@page
@model Mokyklu_IS.Pages.Tevai.ZinutesModel
@{
    Layout = "/Pages/Shared/_TevaiLayout.cshtml";
}
<div class="text-center">
    <div style="text-align:left" class="container">
        <form method="post">
            <label for="gavejas"><b>Gavėjas</b></label><br>
            <select class="custom-select" style="width:200px;" name="gavejas" id="gavejas">
                @foreach (var item in Model.Mokytojas)
                {
                    <option value="@item.Asmens_kodas">@item.Vardas @item.Pavarde</option>
                }
            </select><br /><br />

            <label for="zinute"><b>Žinutė</b></label><br>
            <input asp-for="Zinute.Tekstas" type="text" required>

            <button type="submit" class="registerbtn">Siūsti Žinutę</button>
        </form>
</div><br /><br />
    <hr>

    <div class="container">
        <h3 class="display-4">Visos Žinutės</h3>
        <table id="customers">
            <tr>
                <th>Nr</th>
                <th>Gavėjas</th>
                <th>Data</th>
                <th>Žinutė</th>
                <th>Ar perskaitė</th>
            </tr>
            @foreach (var item in Model.Ats)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.MPavarde) @Html.DisplayFor(m => item.MVardas)</td>
                    <td>@Html.DisplayFor(m => item.Data)</td>
                    <td>@Html.DisplayFor(m => item.Tekstas)</td>
                    @if (item.persk == false)
                    {
                        <td>Neperskaityta</td>
                    }
                    else
                    {<td>Perskaityta</td>}
                </tr>
            }
        </table><br /><br />
    </div>
</div>
