@page
@model Mokyklu_IS.Pages.Mokytojas.AtsiskaitymaiModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <form method="post">
            <h3 class="display-4">Atsiskaitymai</h3>
            <table id="customers">
                <tr>
                    <th>Data</th>
                    <th>Tema</th>
                    <th>Laikas</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Atsiskaitymas)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Data.Date)</td>
                        <td>@Html.DisplayFor(m => item.Tema)</td>
                        <td>@Html.DisplayFor(m => item.laikas)</td>
                        <td>
                            <a asp-page="/Mokytojas/Atsiskaitymas_Edit" asp-route-id="@item.Id_Atsiskaitymas @Model.ID" class="btn btn-success btn-sm text-white">Redaguoti</a>
                            <button asp-page-handler="Delete" asp-route-id="@item.Id_Atsiskaitymas @Model.ID" onclick="return confirm('Ar tikrai norite pasalinti si atsiskaityma ?')" class="btn btn-danger btn-sm text-white">Pašalinti</button>
                        </td>
                    </tr>
                }
            </table>
        </form>
    </div>
    <hr>
    <div style="text-align:center" class="container">
        <form method="post">
            <label for="tema"><b>Tema</b></label><br>
            <input asp-for="Nauja.Tema" type="text" placeholder="Tema" required><br><br>

            <label for="uzduotis"><b>Data</b></label><br>
            <input asp-for="Nauja.Data" type="date" placeholder="Data" required><br><br>

            <label for="data"><b>Laikas</b></label><br>
            <input asp-for="Nauja.laikas" type="text" placeholder="Laikas" required><br><br>

            <button type="submit" class="registerbtn">Įrašyti Atsiskaityma</button>
        </form>
    </div>
</div>