@page
@model Mokyklu_IS.Pages.Mokytojas.KlaseModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<style>
    a:hover {
        color: white;
    }
    a.btn, a.btn-primary, a.m-1:hover {
        background-color: #00995c;
    }
</style>
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Klasės @Model.Klase.Pavadinimas mokiniai</h3>
        <table id="customers">
            <tr>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Mokiniai)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Vardas)</td>
                    <td>@Html.DisplayFor(m => item.Pavarde)</td>
                    <td>
                        <a asp-page="/Mokytojas/Mokinys" asp-route-ID="@item.Asmens_kodas" class="button1">Rinktis</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr>
    <div class="container">
        <a asp-page="/Mokytojas/Namu_Darbai" asp-route-ID="@Model.Klase.Id_Klase" class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width: 80%">Namų Darbai</a>
    </div>
    <div class="container">
        <a asp-page="/Mokytojas/Atsiskaitymai" asp-route-ID="@Model.Klase.Id_Klase" class="btn btn-primary m-1" style="background-color: #00b377; font-weight: bold; width:80%">Atsiskaitymai</a>
    </div>
</div>
