@page
@model Mokyklu_IS.Pages.Mokytojas.Namu_DarbaiModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Namų Darbai</h3>
        <table id="customers">
            <tr>
                <th>Tema</th>
                <th>Užduotis</th>
                <th>Data</th>
                <th></th>
            </tr>
            @foreach (var item in Model.ND)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Tema)</td>
                    <td>@Html.DisplayFor(m => item.Uzduotis)</td>
                    <td>@Html.DisplayFor(m => item.Data.Date)</td>
                    <td>
                        <a asp-page="/Mokytojas/Namu_Darbai_Edit" asp-route-id="@item.Id_Namu_darbas @Model.ID" class="btn btn-success btn-sm text-white">Redaguoti</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <hr>
    <div style="text-align:center" class="container">
        <form method="post">
            <label for="tema"><b>Tema</b></label><br>
            <input asp-for="Nauja.Tema" type="text" placeholder="tema" required><br><br>

            <label for="uzduotis"><b>Užduotis</b></label><br>
            <input asp-for="Nauja.Uzduotis" type="text" placeholder="užduotis" required><br><br>

            <label for="data"><b>Data</b></label><br>
            <input asp-for="Nauja.Data" type="date" placeholder="Data" required><br><br>

            <button type="submit" class="registerbtn">Įrašyti Namų Darbus</button>
        </form>
    </div>
</div>