@page
@model Mokyklu_IS.Pages.Mokytojas.PazimysModel
@{
    Layout = "/Pages/Shared/_MokytojasLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <h3 class="display-4">Mokinio @Model.Mokinys.Vardas @Model.Mokinys.Pavarde Pažymiai</h3>
        <table id="customers">
            <tr>
                <th>Įvertinimas</th>
                <th>Priežastis</th>
                <th>Komentaras</th>
                <th>Atsiskaitymas</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Pazimiai)
            {
                    @foreach (var item2 in Model.Atsiskaitymai)
                    {
                        @if (item.fk_Atsiskaitymas == null)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Ivertis)</td>
                                <td>@Html.DisplayFor(m => item.Vertinimo_priezastis)</td>
                                <td>@Html.DisplayFor(m => item.Komentaras)</td>
                                <td>-</td>
                                <td>
                                    <a asp-page="/Mokytojas/Pazimys_Edit" asp-route-ID="@item.Id_Pazimys @Model.ID" class="button1">Redaguoti</a>
                                </td>
                            </tr>
                            break;
                        }
                        if (item.fk_Atsiskaitymas != null && item.fk_Atsiskaitymas == item2.Id_Atsiskaitymas)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Ivertis)</td>
                                <td>@Html.DisplayFor(m => item.Vertinimo_priezastis)</td>
                                <td>@Html.DisplayFor(m => item.Komentaras)</td>
                                <td>@Html.DisplayFor(m => item2.Tema)</td>

                                <td>
                                    <a asp-page="/Mokytojas/Pazimys_Edit" asp-route-ID="@item.Id_Pazimys @Model.ID" class="button1">Redaguoti</a>
                                </td>
                            </tr>
                        }
                    }
            }
        </table>
    </div>
    <hr>
    <h3 class="display-4">Įrašyti naują pazymį</h3>
    <form method="post">
        <div style="text-align:left" class="container">

            <label for="ivertis"><b>Įvertinimas</b></label><br>
            <input asp-for="Pazimys.Ivertis" type="number" placeholder="" required><br><br>

            <label for="uz_ka"><b>Priežastis</b></label><br>
            <input asp-for="Pazimys.Vertinimo_priezastis" type="text" placeholder="" required><br><br>

            <label for="koment"><b>Komentaras</b></label><br>
            <input asp-for="Pazimys.Komentaras" type="text" placeholder="" required><br><br>

            <label for="test"><b>Atsiskaitymas</b></label><br>
            <select class="custom-select" style="width:200px;" name="test" id="test">
                <option value="0">-</option>
                @foreach (var a in Model.Atsiskaitymai)
                {
                    <option value="@a.Id_Atsiskaitymas">@a.Tema</option>
                }
            </select>

            <button asp-page-handler="Submit" asp-route-id="@Model.ID" type="submit" class="registerbtn">Įrašyti Pažymi</button>
        </div><br /><br />
    </form>
</div>
