@page
@model Mokyklu_IS.Pages.Mokinys.tvarkarastisModel
@{
    Layout = "/Pages/Shared/_MokinysLayout.cshtml";
}
<div class="text-center">
    <div class="container">
        <div class="text-center">
            <h3 class="display-4">@Model.Klase.Pavadinimas tvarkaraštis</h3>
        </div>

        <div class="text-center">
            <h3 class="display-4">Pirmadienis</h3>
        </div>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Laikas</th>
            </tr>
            @foreach (var item in Model.Tvarkarastis)
            {
                @if (int.Parse(item.Klase) == Model.Klase.Id_Klase && item.Sav_Diena == "Pirmadienis")
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Pamoka)</td>
                        <td>@Html.DisplayFor(m => item.Laikas)</td>
                    </tr>
                }
            }
        </table>

        <div class="text-center">
            <h3 class="display-4">Antradienis</h3>
        </div>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Laikas</th>
            </tr>
            @foreach (var item in Model.Tvarkarastis)
            {
                @if (int.Parse(item.Klase) == Model.Klase.Id_Klase && item.Sav_Diena == "Antradienis")
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Pamoka)</td>
                        <td>@Html.DisplayFor(m => item.Laikas)</td>
                    </tr>
                }
            }
        </table>

        <div class="text-center">
            <h3 class="display-4">Trečiadienis</h3>
        </div>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Laikas</th>
            </tr>
            @foreach (var item in Model.Tvarkarastis)
            {
                @if (int.Parse(item.Klase) == Model.Klase.Id_Klase && item.Sav_Diena == "Treciadienis")
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Pamoka)</td>
                        <td>@Html.DisplayFor(m => item.Laikas)</td>
                    </tr>
                }
            }
        </table>

        <div class="text-center">
            <h3 class="display-4">Ketvirtadienis</h3>
        </div>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Laikas</th>
            </tr>
            @foreach (var item in Model.Tvarkarastis)
            {
                @if (int.Parse(item.Klase) == Model.Klase.Id_Klase && item.Sav_Diena == "Ketvirtadienis")
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Pamoka)</td>
                        <td>@Html.DisplayFor(m => item.Laikas)</td>
                    </tr>
                }
            }
        </table>

        <div class="text-center">
            <h3 class="display-4">Penktadienis</h3>
        </div>
        <table id="customers">
            <tr>
                <th>Pamoka</th>
                <th>Laikas</th>
            </tr>
            @foreach (var item in Model.Tvarkarastis)
            {
                @if (int.Parse(item.Klase) == Model.Klase.Id_Klase && item.Sav_Diena == "Penktadienis")
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.Pamoka)</td>
                        <td>@Html.DisplayFor(m => item.Laikas)</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
