@page
@model Mokyklu_IS.Pages.Admin.PaskiruTvarkykleModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <form method="post">
        <div class="container-fluid">
            <div style="width: 45%; float:left">
                <h3 class="display-4">Laukia Patvirtinimo</h3>
                @if (Model.Registracija.Count() > 0)
                {
                    <table id="customers">
                        <tr>
                            <th>Vardas</th>
                            <th>Pavardė</th>
                            <th>Asmens Kodas</th>
                            <th>Tipas</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Registracija)
                        {
                            @if (item.Ar_patvirtinta == false)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.Vardas)</td>
                                    <td>@Html.DisplayFor(m => item.Pavarde)</td>
                                    <td>@Html.DisplayFor(m => item.Asmens_kodas)</td>
                                    <td>@Html.DisplayFor(m => item.Role)</td>
                                    <td>
                                        <button asp-page-handler="Patvirtinti" asp-route-id="@item.Id_Registracija" class="btn btn-success btn-sm text-white">Patvirtinti</button>
                                        <button asp-page-handler="Delete" asp-route-id="@item.Id_Registracija" onclick="return confirm('Ar tikrai norite atmesti sia paskyra ?')" class="btn btn-danger btn-sm text-white">Atmesti</button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                }
                else
                {
                    <p>Nera duomenu bazeje duomenu</p>
                }
            </div>
            <div style="width: 10%; float:right">
            </div>
            <div style="width: 45%; float:right">
                <h3 class="display-4">Visos Paskyros</h3>
                @if (Model.Registracija.Count() > 0)
                {


                    <table id="customers">
                        <tr>
                            <th>Vardas</th>
                            <th>Pavardė</th>
                            <th>Asmens Kodas</th>
                            <th>Tipas</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Registracija)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Vardas)</td>
                                <td>@Html.DisplayFor(m => item.Pavarde)</td>
                                <td>@Html.DisplayFor(m => item.Asmens_kodas)</td>
                                <td>@Html.DisplayFor(m => item.Role)</td>
                                <td>
                                    <a asp-page="/Admin/Paskyra_Redagavimas" asp-route-id="@item.Id_Registracija" class="btn btn-success btn-sm text-white">Redaguoti</a>
                                    <button asp-page-handler="Delete" asp-route-id="@item.Id_Registracija" onclick="return confirm('Ar tikrai norite pasalinti sia paskyra ?')" class="btn btn-danger btn-sm text-white">Pašalinti</button>
                                </td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <p>Nera Duomenu bazeje registruotu vartotoju</p>
                }
            </div>
        </div>
    </form>
</div>
