@page
@model Mokyklu_IS.Pages.Admin.Priskirti_KlaseModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}
<div class="text-center">
    <form method="post">
        <div class="container">
            <h3 class="display-4">Nepriskirti Mokiniai</h3>
            @if (Model.Mokinys.Count() > 0)
            {
                <table id="customers">
                    <tr>
                        <th>Vardas</th>
                        <th>Pavardė</th>
                        <th>Tevai</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Mokinys)
                    {
                        @if (item.fk_Klase == null)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Vardas)</td>
                                <td>@Html.DisplayFor(m => item.Pavarde)</td>
                                <td>
                                    <select class="custom-select" style="width:200px;" name="role" id="role">
                                        <option value="0">-</option>
                                        @foreach (var klas in Model.Klase)
                                        {
                                            <option value="@klas.Id_Klase">@klas.Pavadinimas</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <button asp-page-handler="Patvirtinti" asp-route-id="@item.Id_Mokinys" class="button1">Priskirti</button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>Nera mokiniu</p>
            }
        </div>
    </form>
</div>