@page
@model Mokyklu_IS.Pages.Admin.PriskyrimasModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<div class="text-center">
    <form method="post">
        <div class="container">
            <h3 class="display-4">Nepriskirti Mokiniai</h3>
            @if (Model.Mokinys.Count() > 0)
            {
                <table id="customers">
                    <tr>
                        <th>Vardas</th>
                        <th>Pavardė</th>
                        <th>Tevai</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Mokinys)
                    {
                        @if (item.fk_Tevas == null)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.Vardas)</td>
                                <td>@Html.DisplayFor(m => item.Pavarde)</td>
                                <td>
                                    <select class="custom-select" style="width:200px;" name="@item.Vardas" id="@item.Vardas">
                                        <option value="NULL">-</option>
                                        @foreach (var tev in Model.Tevas)
                                        {
                                            <option value="@tev.Asmens_kodas">@tev.Vardas @tev.Pavarde</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <button asp-page-handler="Patvirtinti" asp-route-id="@item.Asmens_kodas" class="button1">Priskirti</button>
                                </td>
                            </tr>
                        }
                    }
                </table>
            }
            else
            {
                <p>Nera nepriskirtu mokiniu</p>
            }
        </div>
        </form>
</div>
